.dark {
    /* --theme: rgb(55, 52, 132); */
    /* --theme: rgb(149, 194, 31); */
    --theme: rgb(28, 138, 55);
    --entry: rgb(46, 46, 51);
    --primary: rgb(0, 0, 0);
    --secondary: rgb(149, 193, 31);
    --tertiary: #e02189;
    --content: rgb(196, 196, 197);
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
}

.profile img {
    border-radius: 0%;
}

.social-icons {
    --primary: rgb(149, 193, 31);
}

.social-icons a svg {
    width: 40px;
    height: 40px;
}