.thumbnail_card {
    background-position: unset;
}

h2,
h1 {
    font-family: 'Teko', sans-serif;
    font-style: italic;
}

.text-4xl {
    font-size: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: -0.5rem;
}

.text-2xl {
    font-size: 1.50rem;
    line-height: 1.75rem;
}