<script type="text/javascript">
    (function (w, d, s, o, f, js, fjs) {
        w['GingerWidget'] = o; w[o] = w[o] || function () { (w[o].q = w[o].q || []).push(arguments) };
        js = d.createElement(s), fjs = d.getElementsByTagName(s)[0];
        js.id = o; js.src = f; js.async = 1; fjs.parentNode.insertBefore(js, fjs);
    }(window, document, 'script', 'igp', '//www.ideaginger.it/js-widget-svg/widgetProgetto.js'));
    igp('init', { progettoGinger: 'una-club-house-per-tutti', IDprogetto: 'ID-2599', wdBox: 'auto' });  // [wdBox: auto || verticale || orizzontale]
    // --------------------------- //
</script>
<h2 class="mt-8 text-2xl font-extrabold mb-10">Una Club House per tutti!</h2>
<section class="flex flex-col items-center gap-5 sm:flex-row">
    <div class="h-full text-center flex flex-1 flex-grow justify-center">
        <section id="una-club-house-per-tutti"></section>
    </div>

    <div class="h-full flex-1 flex-grow p-6 text-left">
        Abbiamo bisogno del tuo sostegno per ristrutturare la nostra <b>Club House: Molino Cento</b>.<br>
        Aiutaci a renderla un ambiente confortevole, accogliente e più sicuro a disposizione di tutti.
        La CLUB HOUSE è la casa dei Saviors, dove si svolge il <b>TERZO TEMPO</b>T, il luogo dove celebrare le vittorie,
        dove
        riunirci per condividere idee e risolvere problemi. Al suo interno si incrociano tante e varie personalità,
        dall'esperto ex
        giocatore di serie A al giovane neofita, fino al saggio veterano con aneddoti e racconti di partite leggendarie.
        <br><br>
        Vogliamo che diventi anche una sala a disposizione di associazioni, famiglie e gruppi per organizzare incontri,
        formazione, riunioni e - perché no - feste!
    </div>
</section>
