<div class="flex-nowrap sm:flex-row">
<p class="text-xs text-neutral-500 dark:text-neutral-400">
    Via Roversano 2815, 47522 - Cesena (FC)
</p>
<p class="text-xs text-neutral-500 dark:text-neutral-400">
    C.F.: 90055620406 - 
    P.IVA: 03680660408
</p>
<p class="text-xs text-neutral-500 dark:text-neutral-400">
    
</p>
<p class="text-xs text-neutral-500 dark:text-neutral-400">
    PEC/Codice Univoco: saviorssocialrugby@pec.it
</p>
<p class="text-xs text-neutral-500 dark:text-neutral-400">
    info@saviorssocialrugby.it -
    erfc.saviorssocialrugby@federugby.it
</p>
<p class="text-xs text-neutral-500 dark:text-neutral-400">
    IBAN: IT56U0707023900000000861513
</p>
</div>
